asyncio
concurrent.futures
datetime, timedelta
pyttsx3
os
sys
pandas
threading
winsound
unidecode
reportlab
pycaw
ctypes
comtypes
speech_recognition
google
google.genai
webbrowser
urllib
subprocess
psutil
pygetwindow
pywinauto
requests
io
BytesIo
wikipedia
ctypes
playsound
json
PyQt5.QtWidgets
PyQt5.QtGui
PyQt5.QtCore
playsound
aiohttp
bs4
